

.sacola {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
}

.menu-opcoes ul {
    font-size: 15px;
}

.menu-opcoes a {
    color: #003366;
}

body {
    color: #333333;
    font-family: "ucida Sans Unicode", "lucia Grande", sans-serif;
}

.menu-opcoes ul li {
    display: inline;
    margin: 20px;
}

.sacola {
    padding-top: 8px;
}

.container {
    width: 940px;
    margin: 0 auto;
}


header {
    position: relative;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

.sacola {
    position: absolute;
    top: 0;
    right: 0;
}

.busca,
.menu-departamentos {
    float: left;
}


.menu-departamentos {
    text-transform: uppercase;
    display: block;
    float: left;
    margin: 20px 0 0 0;
}

.busca,
.menu-departamentos {
    background-color: #DCDCDC;
    font-weight: bold;
    text-transform: uppercase;

    margin-right: 10px;
    width: 230px;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}

.menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a {
    color: #333;
    text-decoration: none;
}

.busca input[type=search] {
    width: 170px;
}



.banner-destaque  {
    width: inherit;
    margin-left: 10px;
}

.destaque {
    margin-top: 10px;
}

.menu-departamentos {
    margin-top: 20px;
    padding-bottom: 10px;
}

.painel li {
     display: inline-block;
     vertical-align: top;
     width: 140px;
     margin: 2px;
     padding-bottom: 10px;
}

.painel {
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}

.novidades {
    float: left;
}

.mais-vendidos { 
    float: right;
}

.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
}
 
.painel h2 {
    font-size: 24px;
   font-weight: bolder;
   margin-bottom: 10px;
    text-transform: uppercase;
}

.painel a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}

.novidades {
    background-color: #F5DCDC;
}

.mais-vendidos {
    background-color: #DCDCF5;
}
input[value] {
    color: #CC0000;
}

input[type="text"] {
    border-radius: 4px;
}

div[class|="menu"] {
    border-radius: 4px;
}

input[value~="busca"] {
    color: #CC0000;
}

input[value^="usuario"] {
    color: #99FFCC;
}

input[name$="teste"] {
    color: #CCFF00;
}

input[name*="tela"] {
    color: #666666
}

.facebook {
    width: 85px;
    height: 55px;
    background-image: url(../img/facebook.png);
    text-indent: -9999px;  
}

.social a [href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

footer {
    background-image: url(../img/fundo-rodape.png);
}
.social a {
    height : 32px;
    width: 32px;
    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

.social a[href*="X.com"] {
    background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
    background-image: url(../img/googleplus.png);
}

footer{
    clear: both;
}

footer {
    padding: 20px 0;
}

footer .container {
    position: relative;
}

.social {
    position: absolute;
    top: 20px;
    right: 0;
}
.social li {
    float: left;
    margin-right: 25px;
}

.menu-opcoes a:active {
    color: #867DC6;
}

.menu-opcoes a:hover {
    color: #007DC6;
}

.menu-departamentos li:hover ul {
    display: block;
}

.menu-departamentos  li ul {
    display: none;
}

.menu-opcoes ul ul li {
    background-color: #DCDCDC;
}

.menu-departamentos li li a:before {
    content: "- ";
}

.menu-departamentos li li a:before {
    content: "\272A";
    padding-right: 3px;
}

.painel h2:before {
    content: "\272A ";
    padding-right: 5px;
    opacity: 0.4;
}

:not(p) + p::first-line{
    font-variant: small-caps;
}

div {
    border-radius : 5px;
}

.a {
    border-radius: 15px;
}

.b {
    border-radius: 5px 20px;
}

.c {
    border-radius: 5px 20px 50px;
}

.d {
    border-radius: 5px 20px 50px 100px;
}

p {
    text-shadow: 10px 10px 5px red, -5px -5px 4px red;
}

.radial {
    background: radial-gradient(white, blue);
}

.gradiente {
background: linear-gradient(45deg, #F0F9FF 0%, #CBEBFF 47%, #A1DBFF 100%)
}

.linear {
    background: linear-gradient(to bottom,white,blue);
}

.painel {
    border-radius: 4px;
    box-shadow: 1px 1px 4px #999;
}

.painel h2 {
    text-shadow: 3px 3px 2px #FFF
}


.busca,
.menu-departamentos {
    background-color: #DCDCDC;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}

.menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a {
    color: #333333;
    text-decoration: none;
}

.busca input[type=search] {
    width: 170px;
}

.busca,
.menu-departamentos {
    float: left;
}

.menu-departamentos {
    clear: left;
}

.destaque {
    margin-top: 10px;
}

.menu-departamentos {
    margin-top: 10px;
    padding-bottom: 10px;
}

.busca,
.menu-departamentos {
    float: left;
}   

.menu-departamentos {
    clear: left;
}

p {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.linear {
    background: linear-gradient(white, blue);
}

.radial {
    background: radial-gradient(white, blue);
}

.gradiente {
    background: linear-gradient(45deg, #F0F9FF 0%, #CBEBFF 47%, #A1DBFF 100%);
}

.linear {
    background: linear-gradient(to bottom, white, blue);
}

.linear {
    background: -webkit-linear-gradient(top,white,blue);
    background: -moz-linear-gradient(top,white,blue);
    background: -o-linear-gradient(top,white,blue);
}

.linear {
    background: -webkit-grandient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, blue));
}

.linear {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#0000FF', GradientType='0');
}

.gradiente {
    background: #CBEBFF;
    background: linear-gradient(45deg, #F0F9FF 0%, #CBEBFF 47%, #A1DBFF 100%)
}

.painel {
    border-radius: 4px;
    box-shadow: 1px 1px 4px #999;
}


.painel h2 {
    text-shadow: 3px 3px 2px #FFF;
}   

.painel {
    text-shadow: 3px 3px 2px #FFF;
}   

.busca {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.painel h2 {
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.8);
}

.novidades{
    background: linear-gradient(#F5DCDC, #BEBEF4);
}

.mais-vendidos {
    background: linear-gradient(#DCDCF5, #F4BEBE);
}

.painel li:hover {
    box-shadow: 2px 2px 6px #666;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.painel li:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px #333;
    transition: 0.7s;
}

.painel li:hover {
    transform: scale(1.2);
}
 
.painel li:hover {
    transform: scale(1.2) rotate(-5deg);
}
 

.painel li:nth-child(2n):hover { 
    transform: scale(1.2) rotate(5deg);
}

.painel li {
    transition: 0.7S;
}

.painel li:hover {
    transition: 0.7s ease-in;
}
.painel li {
    transition: transform 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
}