
.container {
    margin-right: auto; 
    margin-left: auto;
}

.sacola {
background-image: url(../img/sacola.png);
background-repeat: no-repeat;
background-position: top right;
font-size: 14px;
padding-right: 35px;
text-align: right;
width: 140px;
}

.manu-opcoes ul {
    font-size: 15px;
}

.manu-opcoes a {
    color: #003366;
}

body {color: #333333;
font-family: "ucida Sans Unicode", "lucia Grande", sans-serif;}
