.cores label::after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}   

label[for=verde]::after {
    background-color: #33CC66;
}

label[for=rosa]::after {
    background-color: #FF6699;
}

label[for=azul]::after {
    background-color: #3399FF;
}

.cores label::after {
    box-sizing: border-box;
}

.cores input:checked + label::after {
    border: 6px solid rgba(0, 0, 0, 0.3);
}
.cores input[type=radio] {
    display: none;
}
.cores input:not(:checked) + label img {
    display: none;
}

.cores label::after {
    position: absolute;
    top: 90px;
}

.cores {
    position : relative;
    padding-top: 90;
}

label[for=verde]::after {
    left: 0;
}

label[for=rosa]::after {
    left: 60px;
}

label[for=azul]::after {
    left: 120px;
}

.cores labela img {
    display: block;
    max-width: 100%;
}

.produto {
    color: #333;
    line-height: 1.3em;
    margin-top: 2em;
}

.produto h1 {
    font-size: 1.8em;
    font-weight: bold;
}

.produto p {
    font-size:  1.2em;
    font-style: italic;
    margin-bottom: 1em;
}

.produto legend {
    display: block;
    font: bold 0.9em/2.5 arial;
    text-transform: uppercase;
}

.comprar {
    background: #91d3c9;
    border: none;
    color: #333;

    font-size: 1.4em;
    text-transform: uppercase;

    box-shadow: 0 1px 3px #777 ;

    display: block;
    padding: 0,5em 1em;
    margin-top: 1em;
}

@media (min width: 600px) {
    img {
        float: left;
    }
}

